

<!DOCTYPE html>
<html>
<head>
   <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" />
        <link rel="stylesheet" href="https://cdn.datatables.net/1.10.13/css/jquery.dataTables.min.css" />
        <link href="~/Content/themes/base/jquery-ui.min.css" rel="stylesheet" />
            <script src="https://kit.fontawesome.com/a076d05399.js" crossorigin="anonymous"></script>
    <style>
        table, th, td {
            border: 1px solid;
            width: 80%
        }

        .basic-card {
            width: 300px;
            position: relative;
            -webkit-box-shadow: 0px 5px 5px 0px rgba(0,0,0,0.3);
            -moz-box-shadow: 0px 5px 5px 0px rgba(0,0,0,0.3);
            -o-box-shadow: 0px 5px 5px 0px rgba(0,0,0,0.3);
            box-shadow: 0px 5px 5px 0px rgba(0,0,0,0.3);
        }

            .basic-card .card-content {
                padding: 30px;
            }

            .basic-card .card-title {
                font-size: 25px;
                font-family: 'Open Sans', sans-serif;
            }

            .basic-card .card-text {
                line-height: 1.6;
            }

            .basic-card .card-link {
                padding: 25px;
                width: -webkit-fill-available;
            }

                .basic-card .card-link a {
                    text-decoration: none;
                    position: relative;
                    padding: 10px 0px;
                }

                    .basic-card .card-link a:after {
                        top: 30px;
                        content: "";
                        display: block;
                        height: 2px;
                        left: 50%;
                        position: absolute;
                        width: 0;
                        -webkit-transition: width 0.3s ease 0s, left 0.3s ease 0s;
                        -moz-transition: width 0.3s ease 0s, left 0.3s ease 0s;
                        -o-transition: width 0.3s ease 0s, left 0.3s ease 0s;
                        transition: width 0.3s ease 0s, left 0.3s ease 0s;
                    }

                    .basic-card .card-link a:hover:after {
                        width: 100%;
                        left: 0;
                    }


        .basic-card-aqua {
            background-image: linear-gradient(to bottom right, #00bfad, #99a3d4);
        }

            .basic-card-aqua .card-content, .basic-card .card-link a {
                color: #fff;
            }

            .basic-card-aqua .card-link {
                border-top: 1px solid #82c1bb;
            }

                .basic-card-aqua .card-link a:after {
                    background: #fff;
                }

        .basic-card-lips {
            background-image: linear-gradient(to bottom right, #ec407b, #ff7d94);
        }

            .basic-card-lips .card-content {
                color: #fff;
            }

            .basic-card-lips .card-link {
                border-top: 1px solid #ff97ba;
            }

                .basic-card-lips .card-link a:after {
                    background: #fff;
                }

        .basic-card-light {
            border: 1px solid #eee;
        }

            .basic-card-light .card-title, .basic-card-light .card-link a {
                color: #636363;
            }

            .basic-card-light .card-text {
                color: #7b7b7b;
            }

            .basic-card-light .card-link {
                border-top: 1px solid #eee;
            }

                .basic-card-light .card-link a:after {
                    background: #636363;
                }

        .basic-card-dark {
            background-image: linear-gradient(to bottom right, #252525, #4a4a4a);
        }

            .basic-card-dark .card-title, .basic-card-dark .card-link a {
                color: #eee;
            }

            .basic-card-dark .card-text {
                color: #dcdcdcdd;
            }

            .basic-card-dark .card-link {
                border-top: 1px solid #636363;
            }

                .basic-card-dark .card-link a:after {
                    background: #eee;
                }


        .card-category-2 ul, .card-category-3 ul, .card-category-4 ul, .card-category-5 ul .card-category-6 ul {
            padding: 0;
        }

            .card-category-2 ul li, .card-category-3 ul li, .card-category-4 ul li, .card-category-5 ul li, .card-category-6 ul li {
                list-style-type: none;
                display: inline-block;
                vertical-align: top;
            }

            .card-category-2 ul li, .card-category-3 ul li {
                margin: 10px 5px;
            }

        .card-category-1, .card-category-2, .card-category-3, .card-category-4, .card-category-5, .card-category-6 {
            font-family: sans-serif;
            margin-bottom: 45px;
         
        }

            .card-category-1 div, .card-category-2 div {
                display: inline-block;
            }

            .card-category-1 > div, .card-category-2 > div:not(:last-child) {
                margin: 10px 5px;
                text-align: left;
            }

        .search {
            width: 100%;
            position: relative;
            display: flex;
        }

        .searchTerm {
            width: 100%;
            border: 3px solid #000000;
            border-right: none;
            padding: 5px;
            height: 45px;
            border-radius: 5px 0 0 5px;
            outline: none;
            color: #000000;
        }

            .searchTerm:focus {
                color: #000000;
            }

        .searchButton {
            width: 40px;
            height: 45px;
            border: 1px solid #000000;
            background: #000000;
            text-align: center;
            color: #fff;
            border-radius: 0 5px 5px 0;
            cursor: pointer;
            font-size: 20px;
        }

        /*Resize the wrap to see the search bar change!*/
        .wrap {
            width: 30%;

        }
        /*table*/

        .content-table {
            border-collapse: collapse;
            margin: 25px 0;
            font-size: 0.9em;
            min-width: 400px;
            border-radius: 5px 5px 0 0;
            overflow: hidden;
            box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
        }

            .content-table thead tr {
                background-color: #009879;
                color: #ffffff;
                text-align: left;
                font-weight: bold;
            }

            .content-table th,
            .content-table td {
                padding: 12px 15px;
            }

            .content-table tbody tr {
                border-bottom: 1px solid #dddddd;
            }

                .content-table tbody tr:nth-of-type(even) {
                    background-color: #f3f3f3;
                }

                .content-table tbody tr:last-of-type {
                    border-bottom: 2px solid #009879;
                }

                .content-table tbody tr.active-row {
                    font-weight: bold;
                    color: #009879;
                }
        .button {
            background-color: #4CAF50; /* Green */
            border: none;
            color: white;
            padding: 5px 12px;
            text-align: center;
            text-decoration: none;
            display: inline-block;
            font-size: 16px;
        }
        .buttonred{
                     background-color: red; /* Green */
            border: none;
            color: white;
            padding: 5px 12px;
            text-align: center;
            text-decoration: none;
            display: inline-block;
            font-size: 16px;
        }
        .btntext{
            color:white !important;
        }
        .btntext:hover{
            text-decoration:none !important;
        }
    </style>
</head>    </head>
<body>
    <br />
 <h2>admin</h2>
    <table class="content-table">
        <thead>
            <tr>
                <th>First Name</th>
                <th>Last Name</th>
                <th>Email</th>
                <th>Company Name</th>
                  <th>Phone Number</th>
                    
                      <th>Delete</th>
                                 
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>1</td>
                <td>Domenic</td>
                <td>88,110</td>
                <td>dcode</td>
                     <td>dcode</td>
                   
                    <td><div class="button"><a href="#" class="btntext">Delete</a></div></td>
            </tr>
            <tr >
                <td>2</td>
                <td>Sally</td>
                <td>72,400</td>
                <td>Students</td>
                     <td>dcode</td>
                             <td><div class="button"><a href="#" class="btntext">Delete</a></div></td>
            </tr>
           
        </tbody>
    </table> 
</body>
</html>