@{
    ViewBag.Title = "Home";
}
<head>

    <style>
        #about {
            background-image: url("https://www.kindpng.com/picc/m/471-4713650_job-portal-script-from-datasys-assists-you-in.png");
            background-repeat: no-repeat;
            background-size: cover;
            background-position: 0px 0px;
            height: 80vh;
            padding-top: 40px;

        }
    </style>

</head>


<body>

    <section id="about">
        <h1 class="text-center">Job Management</h1>
        <div class="container-fluid">
            <div class="row">
                <div class="col-sm-offset-2 col-sm-4">
                    <h3>Our Services</h3>
                    <p>We offer a variety of services so that our clients have exactly the kind of website they need. We
                        not only develop and design web sites, we also develop and design web apps that our clients need
                        for their businesses. Here is a list of our preferred web technologies:</p>
                    <ul>
                        <li>HTML5</li>
                        <li>CSS3</li>
                        <li>Bootstrap</li>
                        <li>Javascript and jQuery</li>
                        <li>AngularJs</li>
                    </ul>
                </div>
                <div class="col-sm-4">
                    <h3>Our Clients</h3>
                    <p>We offer a variety of services so that our clients have exactly the kind of website they need. We
                        not only develop and design web sites, we also develop and design web apps that our clients need
                        for their businesses. Here is a list of our preferred web technologies:</p>
                    <ul>
                        <li>Google</li>
                        <li>SpaceX</li>
                        <li>Khan Academy</li>
                        <li>Evil Corp</li>
                        <li>Dunder Mifflin</li>
                    </ul>
                </div>
            </div>
        </div>
    </section>
</body>