<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="JobWebServiceSoap" />
            </basicHttpBinding>
            <customBinding>
                <binding name="JobWebServiceSoap12">
                    <textMessageEncoding messageVersion="Soap12" />
                    <httpTransport />
                </binding>
            </customBinding>
        </bindings>
        <client>
            <endpoint address="http://webteach_net.hallam.shu.ac.uk/cmsmr2/RemoteWebService.asmx"
                binding="basicHttpBinding" bindingConfiguration="JobWebServiceSoap"
                contract="ProxyToJobWebService.JobWebServiceSoap" name="JobWebServiceSoap" />
            <endpoint address="http://webteach_net.hallam.shu.ac.uk/cmsmr2/RemoteWebService.asmx"
                binding="customBinding" bindingConfiguration="JobWebServiceSoap12"
                contract="ProxyToJobWebService.JobWebServiceSoap" name="JobWebServiceSoap12" />
        </client>
    </system.serviceModel>
</configuration>